#Heading{
  text-align: center;
  color: #123456;  
}
.quote{
  text-align: center;
  
}
.currentQuote{
	font-size: 2em;
}
#author{
	font-size:1em;
}
@media only screen and (max-width: 500px){
  .currentQuote{
    font-size:1em;
  }
}
